@import '../mixins.scss';

html {
    body {
        @include body-2;
        margin: 0px;
        color: $neutral90;
    }

    p, ul {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h1 {
        @include heading-1;
        margin: 0;
        font-weight: normal;
    }

    h2 {
        @include heading-2;
        margin: 0;
        font-weight: normal;
    }

    h3 {
        @include heading-3;
        margin: 0;
        font-weight: normal;
    }

    h4 {
        @include heading-4;
        margin: 0;
        font-weight: normal;
    }

    h4 {
        @include heading-5;
        margin: 0;
        font-weight: normal;
    }

    h1, h2, h3, h4, h5 {
        i {
            @include light-italic-font;
        }
    }
    
    li {
        @include body-3;
    }

    b {
        @include medium-font;
        font-weight: normal;
    }

    p {
        i {
            @include medium-italic-font;
        }
    }

    .main-section {
        margin-top: $section-margin;
        margin-bottom: $section-margin;
    }

    @media (max-width: $sm-to-md-breakpoint) {
        .main-section {
            margin-top: $section-margin-xs;
            margin-bottom: $section-margin-xs;
        }
    }
}